.dashboard-charts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.chart-card {
  flex: 1 1 45%;
  background: #fff;
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
}
