<div class="courses-container">
  <h2>Time Table</h2><br>

  <!-- Table of courses -->
  <table *ngIf="courses.length > 0; else noCourses" class="courses-table">
    <thead>
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of courses">
        <td>{{ c.courseCode }}</td>
        <td>{{ c.courseName }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Fallback if no courses -->
  <ng-template #noCourses>
    <p class="no-data">No courses available for your faculty.</p>
  </ng-template>
</div>
