<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <h5 class="mb-3">Skilled Instructors</h5>
            <p>Professional and supportive educators guiding your learning journey</p>
          </div>
        </div>
      </div>
      <!-- Repeat for other service items -->
    </div>
  </div>
</div>
<!-- Service End -->