<div class="reset-password-container">
    <h2>Reset Password</h2>
  
    <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
      <label for="newPassword">New Password</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        [(ngModel)]="newPassword"
        required
      />
      <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
    </form>
  
    <p *ngIf="message" [ngClass]="{'success-message': messageType === 'success', 'error-message': messageType === 'error'}">
      {{ message }}
    </p>

  </div>
  